@page
@model ProyectoProcesosExperienciaV1.Pages.Account.UsuarioNoHabilitadoModel
@{
    ViewData["Title"] = "Cuenta no habilitada";
}

<div class="text-center mt-5">
    <h2 class="text-danger">Usuario no habilitado</h2>
    <p class="lead">Por favor comuníquese con <strong>2283559099</strong> para habilitar su cuenta.</p>
    <a class="btn btn-secondary mt-3" href="http://localhost:5199/">Volver al inicio (ManaSys)</a>
    <a href="/Account/Login" class="btn btn-primary mt-3">Volver al inicio de sesión</a>
</div>
